
<header class="header">
  <div class="container">
    <div class="header__box">
      <a
        href="javascript:void()"
        routerLink="/"
        area-label="Ir para página inicial"
        matTooltip="Ir para página inicial"
      >
        <img src="/assets/img/logo-ibba.svg" width="auto" height="45" alt="Angular Logo"/>
      </a>

      <div class="d-flex">
        <button
          class="fontBold"
          mat-button
          matTooltip="Alterar idioma"
          aria-label="Alterar idioma"
        >
          PT
        </button>

        <div class="userProfile">
          <div class="userProfile__avatar"></div>
          <div class="userProfile__info d-none d-md-block">
            <p class="mb-0 fontBold">Jon Doe</p>
            <p class="mb-0 fontLight">Diretor Itaú BBA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
