:root {
  /* Colors */
  --colorPrimary: #FA8341;
  --colorSecondary: #989898;

  --colorBorder: #E3E3E3;
  --colorError: #FF7573;
  --colorSuccess: #6DF473;

  --colorBgApp: #FBFBFB;
  --colorBgHeader: #FFE0CC;
  --colorBgHeader--dark: #FE893A;

  /* Font Size */
  --fontSize: 14px;
  --fontSizeTitle: 22px;
  --fontSizeSubtitle: 15px;

  /* Components */
  --colorScrollBar: #959595;
}
